html {
  height: 100%;

  body {
    height: 100%;
    background: #ccc;
    overflow: hidden;
    margin: 0;
    padding: 0;

    #scene {
      height: 100%;
      width: 100%;

      canvas {
        height: 105%;
        left: 0;
        position: absolute;
        top: -2.5%;
        width: 100%;
      }
    }
  }
}